.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hwTitle {
    padding-top: 20px;
}

.messageField {
    flex-grow: 1;
    overflow-y: auto;
}

